<nav id="menubar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/board">Board</a></li>
        <% if (isAuthenticated) {%>
            <li style="float: right;"><a href="/auth/logout">log out</a></li>
        <% } else { %>
            <li style="float: right;"><a href="/user/new">Sign up</a></li>
            <li style="float: right;"><a href="/user">User</a></li>
            <li style="float: right;"><a href="/auth/login">log in</a></li>
        <% } %>
    </ul>
</nav>