<div>
    <h2>유저 목록</h2>
    <div>
        <a href="/user/new">회원가입</a>
    </div>
    <table id="index">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <% result.forEach(elem => { %>
                <tr>
                    <td><a href="/user/<%= elem.id%>"><%= elem.name%></a></td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</div>