<div>
    <a href="/user">user 목록</a>
</div>
<h2>회원가입</h2>
<div>
    <form id="Form" action="/user" method="post">
        <table>
            <tr>
                <td>ID</td>
                <td><input type="text" id="id" name="id"></td>
            </tr>
            <tr>
                <td>new Password</td>
                <td><input type="password" id="password1" name="password1"></td>
            </tr>
            <tr>
                <td>check Password</td>
                <td><input type="password" id="password2" name="password2"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" id="username" name="username"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" id="email" name="email"></td>
            </tr>
            <tr>
                <td><a href="/user">Back</a></td>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
</div>